{% extends 'pharmacist_templates/base_template.html'%} {% load crispy_forms_tags %} {% block page_title %}
<h5>Dispense Drug</h5>

{% endblock page_title %} {% block main_content %}
<style>
    #div_id_order_id{
        display: none !important;
    }
    .select2-container--default .select2-results__option[aria-disabled='true'] {
        color: #0071d4 !important;
    ;
}
#div_unit_price{
    display: none !important;
}
.select2-container--default .select2-results__option[aria-disabled='true'] {
    color: #0071d4 !important;
;
}
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #bbbfc4;
}
.select2-container input {
  -webkit-transition: all 0.10s ease-in-out !important;
  -moz-transition: all 0.10s ease-in-out !important;
  -ms-transition: all 0.10s ease-in-out !important;
  -o-transition: all 0.10s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px!important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #DDDDDD!important;
}
 
 .select2-container input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1)  !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgb(85, 148, 165)!important;
}



.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
    border: 1px solid #ced4da !important;
  

}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 45px;
}

</style>
<section class="content" style="">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h5>Dispense Drug</h5>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form role="form" method="POST" action="{{ action_path }}" enctype="multipart/form-data">
                        {% csrf_token %} {% include 'pharmacist_templates/alert_messeges.html' %}
                        <div class="card-body">                                
                            {{form|crispy}}                        
                            <!-- <div class="form-group">
                                {% for field in form %}

                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }} {% endfor %}

                            </div> -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div>
</section>
{% endblock main_content %}