{% extends 'pharmacist_templates/base_template.html'%}
{% load crispy_forms_tags %}

{% block page_title %}
<h5>Order Patient Drugs</h5>

{% endblock page_title %}
{% block main_content %}
<style>

#div_id_order_id{
        display: none !important;
    }
    .select2-container--default .select2-results__option[aria-disabled='true'] {
        color: #0071d4 !important;
    ;
}
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #bbbfc4;
}
.select2-container input {
  -webkit-transition: all 0.10s ease-in-out !important;
  -moz-transition: all 0.10s ease-in-out !important;
  -ms-transition: all 0.10s ease-in-out !important;
  -o-transition: all 0.10s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px!important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #DDDDDD!important;
}
 
 .select2-container input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1)  !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgb(85, 148, 165)!important;
}

.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
    border: 1px solid #ced4da !important;
  

}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 45px;
}
</style>

<section class="content">
    <div class="container-fluid">
        <h5 class="mt-4 ml-2">
            PATIENT   NAME: <span style="font-style: italic; color:rgb(51, 178, 236);"> {{patient.admin.first_name}} {{patient.admin.last_name}} </span>
            Order ID: <span style="font-style: italic; color:rgb(51, 178, 236);"> {{order.id}} </span> 
        </h5>
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Order Drugs</h5>
                </div>
                <form role="form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {{form|crispy}}
                        <!-- <div class="form-group">
                            <label>Drug Id* </label>
                            {{ form.drug_id }}
                        </div>
                        <div class="form-group">
                            <label>Dispense quantity* </label>
                            {{ form.quantity }}
                        </div>
                        <div class="form-group">
                            <label>Unit Price* </label>
                            {{ form.price }}
                        </div> -->
                        <!-- <label>Drug Id</label>
                        <input type="text" class="form-control" name="drug_id" placeholder="Drug Id" id="id_drug_id"> -->
                        <!-- {% for field in form %}
                            {{ field.label_tag }} {{ field }} 
                        {% endfor %} -->                        
                    </div>                
                    <div class="card-footer">
                        <input type="button" class="btn btn-info ml-4 mb-4" data-toggle="modal" data-target=".bd-example-modal-sm" value="Submit"> 
                    </div>
                    {% include 'pharmacist_templates/insert_modal.html'%}
                </form>

            </div>
              
        </div>        
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-primar sc">
                <div class="card-header">
                    Order Items Details
                </div>
                <table class="table table-bordered table-hover dataTable" id="plist">
                    <thead>
    
                        <tr>
                            <th>No</th>
                            <th>Drug</th>
                            <th>Category</th>
                            <th>Quantiy</th>
                            <th>Price</th>
                            <th class="text-center">Action</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr class="hov">
                            <td>{{forloop.counter}}</td>
                            <td>{{item.drug_id.drug_name}}</td>
                            <td>{{item.drug_id.category}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price}}</td>
                            <td class="d-flex justify-content-center">
    
                                <a href="#" class="btn btn-sm btn-success">View</a>
                            </td>
    
                        </tr>
                        {% endfor %}
    
                    </tbody>
    
                </table>
                <div class="card-footer">
                    <input type="button" href="{% url 'manage_invoice' %}" class="btn btn-info ml-4 mb-4" data-toggle="modal" data-target=".bd-example-modal-sm" value="Confirm Order"> 
                </div>
                {% include 'pharmacist_templates/insert_modal.html'%}
            </div>
        </div>
    </div>
</section>
{% endblock %}