{% extends 'pharmacist_templates/base_template.html'%}
{% load crispy_forms_tags %}

{% block page_title %}
<h5>Order Patient Drugs</h5>

{% endblock page_title %}
{% block main_content %}
<style>
    #div_id_patient_id{
        display: none !important;
    }
    .select2-container--default .select2-results__option[aria-disabled='true'] {
    color: #0071d4 !important;
}
    #div_id_order_id{
        display: none !important;
    }
    .select2-container--default .select2-results__option[aria-disabled='true'] {
        color: #0071d4 !important;
}
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #bbbfc4;
}
.select2-container input {
  -webkit-transition: all 0.10s ease-in-out !important;
  -moz-transition: all 0.10s ease-in-out !important;
  -ms-transition: all 0.10s ease-in-out !important;
  -o-transition: all 0.10s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px!important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #DDDDDD!important;
}
 
 .select2-container input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1)  !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgb(85, 148, 165)!important;
}

.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
    border: 1px solid #ced4da !important;
  

}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 45px;
}
</style>
<section class="content">
    <div class="row">
        
        <div class="col-md-12 px-3">
            <form role="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %} {% if message.tags == "error" %}
                            <div class="col-sm-12">
                                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1 " role="alert" data-brk-library="component__alert">
                                    <button type="button" class="close font__size-18" data-dismiss="alert">
                                                            <span aria-hidden="true">
                                                                <i class="fa fa-times danger "></i>
                                                            </span>
                                                            <span class="sr-only">Close</span>
                                                        </button>
                                    <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                                    <strong class="font__weight-semibold">Oh snap!</strong> {{message}}
                                </div>
                            </div>
                            {% elif message.tags == "success" %}
                            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1">
                                <button type="button" class="close font__size-18" data-dismiss="alert">
                                                            <span aria-hidden="true">
                                            <i class="fa fa-times greencross"></i>
                                            </a></span>
                                                            <span class="sr-only">Close</span> 
                                                        </button>
                                <i class="start-icon far fa-check-circle faa-tada animated"></i>
                                <strong class="font__weight-semibold">Well done!</strong> {{message}}
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                <div class="card-body deco">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Patient Name</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="fas fa-user"></i>
                            </span>
                                    </span>
                                    <input type="text" class="form-control" name="patient_name" value="{{patient.admin.first_name}} {{patient.admin.last_name}}" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Order No</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                        <i class="fas fa-id-card"></i>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="orderid" value="{{ order.id }}" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Order Date</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="fas fa-calendar"></i>
                            </span>
                                    </span>
                                    <input type="text" class="form-control" name="order_date" value="{{ order.ordered_at }}" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Consulation Fees</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                        <i class="fas fa-rupee-sign"></i>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="consultation_fees" value="{{ order.consultation_fees }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Procedure Fees</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                        <i class="fas fa-rupee-sign"></i>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="procedure_fees" value="{{ order.procedure_fees }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Payment Mode</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                        <i class="fas fa-money-bill"></i>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="payment_mode" value="{{ order.payment_mode }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <!-- <a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info">Update</a> -->
                    <input type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-sm" value="Update"> 
                </div>
            </form>                
            <div class="card card-primar sc">
                <div class="card-header">
                    <span>Drug Items</span>
                   <div class="card-tools d-flex">                     
                    <a class="btn btn-sm btn-info mr-2" href="{% url 'dispense_form2' order.id %}" role="button">+ Add Drugs</a> 
                </div>

                    <div>
                <table  class="table table-bordered table-hover dataTable" id="plist">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Drug</th>
                            <th>Category</th>
                            <th>Quantiy</th>
                            <th>Price</th>
                            <th class="text-center">Action</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr class="hov">
                            <td>{{forloop.counter}}</td>
                            <td>{{item.drug_id.drug_name}}</td>
                            <td>{{item.drug_id.category}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price}}</td>
                            <td>        
                                <a href="{% url 'edit_drug' item.id %}" class="btn btn-sm btn-success">Edit</a>                     
                                <a href="{% url 'delete_drug' item.id %}" class="btn btn-sm btn-danger">Delete</a>                                    
                            </td>
    
                        </tr>
                        {% endfor %}
                    </tbody>                   
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'confirm_order' order.id %}" class="btn btn-sm btn-info">Confirm</a>
                <!-- <input type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-sm" value="Submit" name="subscribe">  -->
            </div>
            {% include 'hod_templates/confirm_submit.html' %}           
        </div>
    </div>
</section>

{% endblock %}